body
{
  background-color: #000;
  color: #fff;
  font-family: 'Abel', sans-serif;
  text-align: center;
}
#tranqil
{
  background: no-repeat center center fixed;
  background-size:cover;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/home/nick/Dropbox/enso/tranqil/Autumn-Forest-Leaves.jpg");
}
h2
{
  font-size: 34px;
  font-weight: normal;
}
p
{
  font-size: 20px;
}
#sounds
{
  display: inline-flex;
}
.image
{
  padding: 50px;
  opacity: 0.6;
  cursor: pointer;
}
