@define-color bg_color #7b4397;

.titlebar,
.background {
    padding: 30px;
    background-color: alpha(@bg_color, 0.9);
    color: #fff;
    transition: all 800ms ease-in-out;
}

.window {
  padding: 30px;
}

.button {
  padding: 10px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 50px;
}

.activated {
  padding: 10px;
  background-color: transparent;
  border-color: transparent;
  border: 2px solid #fff;
  border-radius: 50px;
}

.h2 {
  padding-top: 15px;
  font-size: 22px;
  font-weight: 200;
}