[Desktop Entry]
Type=Application
Name=Tranquil
Comment=Soothing sounds
GenericName=tranquil
Exec=tranquil
Icon=tranquil
Terminal=false
X-GNOME-Gettext-Domain=tranquil
Categories=GNOME;GTK;AudioVideo;Player;Audio;